// TODO: Clean up the unnecessary CSS in this file.
// TODO: Document and use colors more consistently.
// TODO: Move formatting in the EJS files here.

// Inspired by https://github.com/spcanelon/silvia/blob/main/assets/silvia-theme-light.scss
@import url('https://fonts.googleapis.com/css2?family=Petrona:ital,wght@0,100..900;1,100..900&family=Red+Hat+Text&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
/*-- scss:defaults --*/

// Quarto references:
// Variables: https://github.com/quarto-dev/quarto-cli/src/resources/formats/html/bootstrap/_bootstrap-variables.scss
// Rules: https://github.com/quarto-dev/quarto-cli/src/resources/formats/html/bootstrap/_bootstrap-rules.scss

// Colors: Quarto variables
$primary:                    darken(#dc7027, 5%); // Tangerine
$secondary:                  #482673; // Purple
// Colors: custom variables
$primary-dark:               #58355E;
$secondary-light:            lighten($secondary, 25%);
$accent:                     #58355E; // Violet
$accent-light:               #7637CD; // Light Green
$accent-dark:                #14BDEB; // Light Blue

// Body
$body-color:                 #301008; // Black Cherry Text Color
$body-bg:                    #F4D8AE; // Creme Background Color
$body-secondary:             darken(#EA8A81, 10%); // Peachy

// Fonts

// stylelint-disable-next-line value-keyword-case
$font-family-sans-serif:     "Red Hat Text", sans-serif;
// $font-family-serif: "Petrona", serif,;
$headings-font-weight:       400;

$font-family-monospace:      "Ubuntu Mono", monospace;

$headings-font-family:       "Petrona";

// Links

$link-color:                  $secondary;
$link-decoration:             underline;
$link-hover-color:            $secondary-light;
$link-hover-decoration:       none;

// Tables

$table-border-color:          $primary;
$table-group-separator-color: lighten($primary, 40%);
$table-caption-color:         $body-secondary;

// Code blocks
$code-block-bg:              white;
$code-block-border:          #ebebeb;

// Inline code
$code-color:                  $primary-dark;
$code-bg:                     $accent-light;

// Table of contents
$toc-color:                   $link-color;
$toc-active-border:           $toc-color;
$toc-inactive-border:         lighten($toc-color, 50%);

// Navbar icons
$navbar-fg:                   $secondary;

// Footer text
$footer-fg:                   $primary;

// table variable overrides
$table-group-separator-color: lighten($primary, 25%);
$table-group-separator-color-lighter: lighten($primary, 50%);

// Miscellaneous (workarounds)
$gray-200:                    lighten($primary, 60%);

/*-- scss:rules --*/

// Code

// code block
div.sourceCode {
  background-color: $code-block-bg;
  border: 1px solid $code-block-border;
}

// inline code
p code:not(.sourceCode), li code:not(.sourceCode), td code:not(.sourceCode) {
  border: 1px solid $accent;
}

// code with filename
.code-with-filename .code-with-filename-file {
  color: $code-color;
  background-color: $code-bg;
  border: 1px solid $code-block-border;
  border-bottom: none;
  pre {
    background-color: $code-bg;
  }
}

// Blockquotes
.blockquote {
  color: lighten($primary, 15%);
  font-style: oblique;
}

// Social icons

// footer
.nav-footer-center i {
  color: $secondary !important;
  
  &:hover {
    color: $secondary-light !important;
  }
}

// home + about pages
.about-links .about-link i {
  color: $secondary !important;

  &:hover {
    color: $secondary-light !important;
  }
}

// Contact

// social links
.link-dark.me-1 i {
  color: $secondary !important;
}

// Buttons

// post links
.btn-secondary {
  color: $secondary;
  background: transparent;
  border-radius: 5px;
}

// contact form
.btn-primary:hover {
  background-color: $secondary;
  border-color: $secondary;
}

// pagination
.page-link {
  color: $primary;
  &:hover {
    color: white;
    background-color: $primary;
    border-color: $primary;
  }
}

// Categories

// posts
.quarto-category {
  background-color: shift-color($accent-dark, -75%);
  color: $secondary !important;
  border-color: shift-color($accent-dark, -45%);
  &:hover {
    background-color: shift-color($accent-dark, -45%);
  }
}

// blog listings
.listing-category {
  color: $secondary !important;
  border-color: $secondary !important;
  background-color: shift-color($accent-dark, -75%);
  &:hover {
    background-color: shift-color($accent-dark, -45%);
  }
}

// Navbar

// header
.navbar {
  background-image: url("images/blue_dots.png");
  background-size: 100px;
  background-repeat: repeat-x;
  background-color: darken($body-bg, 5%);
}

// title
.navbar-title {
  font-size: 0.75em;
  font-weight: 500;
  color: $primary;
  text-transform: uppercase;
  letter-spacing: .1em;

  &:hover {
    border-bottom: 1px solid $primary !important;
  }
}

.navbar-brand img {
  height: 2000px; /* Adjust as needed */
  width: auto; /* Maintain aspect ratio */
}

// links
.navbar-nav .nav-link {
    color: $secondary !important;
    text-transform: uppercase;
    letter-spacing: .1em; 
    border-bottom: 0px hidden $secondary;    
    margin: 0px 10px 0px 10px; 
    padding: 2px 2px 4px 2px !important;

    &:hover {
      border-bottom: 1px solid $secondary !important;
      padding: 2px 2px 0px 2px !important;
    }
}

// Footer

// links on left side
.nav-footer a {
    color: $secondary;
    // link on hover
    &:hover {
      color: $secondary-light;
    }
}

// links on right side
.nav-footer .nav-link {
    &:hover {
      text-decoration: underline;
    }
}

// Listing cards
.card {
  background: transparent;
  border: none;
  border-radius: 4px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
}

.card-img {
    border-radius: 4px 4px 0px 0px;
}

// Title block

// style background image on posts
.featured-image {
  // https://stackoverflow.com/a/24084708
  // style = "background-image: url(featured.png), url(featured.jpg); background-size: cover; color: white; box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.65);"
  background-size: cover; 
  background-position: center;
  color: white; 
  box-shadow: inset 0 0 0 1000px rgba(0,38,66,0.75);
}

// make nav bar be centered in mobile
.fixed-top {
  position: absolute;
}

.aa-DetachedOverlay {
  position: absolute;
}

// links in description

.description a {
  text-decoration: underline !important;
  &:hover {
    text-decoration: none !important;
  }
}

// Throughout the site

// title
.title {
  font-size: 2.5em;
  font-weight: 500;
  line-height: 1.1em;
  text-align: center;
}

// subtitle + Learn More About Me
.subtitle {
  font-size: 1.2em;
  // links within subtitles
  a {
    color: white;
    text-decoration: underline !important;
    &:hover {
      text-decoration: none !important;
    }
  }
}

// Mobile

@media screen and (max-width: 991.98px) {
  // social media links
  .about-entity .about-links {
    flex-direction: row !important;
    justify-content: center !important;
  }

  // navigation footer
  .nav-footer {
      flex-direction: row;
    }

  .nav-footer-center {
    order: 1 !important;
    flex-basis: 100%;
    margin: 0 0 -1.2em 0;
  }

  .nav-footer-right {
    order: 2 !important;
    flex-basis: 100%;
    text-align: center;
  }

  .nav-footer-left {
    order: 3 !important;
    flex-basis: 100%;
    text-align: center;
  }

  .navbar .quarto-navbar-tools {
    text-align: left;
  }
}


// For publications
.quarto-title-block {
    .haiku {
        text-align: right;
        font-family: $headings-font-family;
        margin: 1.3em 0;
        font-size: 1.6em;
        font-weight: 300;
        font-style: italic;
    }

    .quarto-title .quarto-categories {
        padding-bottom: 0;
        flex-wrap: wrap;
        row-gap: 0.4em;
    }

    .project-details {
        background-color: rgba($red, 0.1);
        padding: 0.75em;
        margin: 1em 0;
    }

    .quarto-title-meta-heading.manual {
        margin-top: 2em !important;
    }

    .project-links {
        padding: 0;
        margin-bottom: 0;
    }

    .project-link {
        display: inline-block;
        white-space: nowrap;
        padding: 0 1em 0 0;
        font-weight: bold;
    }

}

.back-nav {
    margin-bottom: 1.5em;
}

.research {
    .back-nav a {
        color: shift-color($red, -50%);
    }
    
    .quarto-title .quarto-categories .quarto-category {
        background-color: shift-color($accent, -75%);
        color: $accent;
        font-size: 0.65em;
        opacity: 1;
    }

    .project-categories {
        display: flex;
        flex-wrap: wrap;
        margin: 0.35em 0 0.35em;
        padding-top: 0.35em;
        padding-left: 0.5em;
        padding-bottom: 0;
        row-gap: 0.4em;
        column-gap: 0.4em;
        font-family: $headings-font-family;

        .project-category {
            border-color: $secondary;
            display: inline-block;
            border-radius: 8px;
            cursor: pointer;
            background-color: shift-color($accent-dark, -75%);
            padding: 0.25em 0.75em 0.25em 0.75em;
            font-size: 0.7em;
            text-transform: uppercase;
        }
        .project-category:hover{
            background-color: shift-color($accent-dark, -45%);
        }
    }
}

.project-list {
    ul {
        list-style: none;
        padding: 0;
        margin: 0 0 2em;

        li.project {
            margin-bottom: 2.5em;
            border-left: 6px solid shift-color($accent, -90%);

            p {
                margin: 0;
            }
        }
    }

    .project-content {
        padding-left: 0.5em;

        .status {
            font-size: 1rem;
            font-weight: 250;
            padding: 0.2em;
            margin-right: 0.5em;
        }
    }

    ul.project-links {
        margin-bottom: 0;
    }

    .project-details-listing {
        margin-top: 0.8em;
        background-color: shift-color($accent, -90%);
        font-size: 0.9rem;

        @media (max-width: map-get($grid-breakpoints, md)) {
            font-size: 0.95rem;
        }

        .project-link {
            display: inline-block;
            white-space: nowrap;
            padding: 0.5em 0.5em 0.5em 1em;
        }

        .details {
            background-color: $accent-dark;
            padding-right: 1.5em;

            a {
                color: #FFFFFF;
            }
        }
    }
}
